# Configurações do Banco de Dados MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=sua_senha_aqui
DB_NAME=carteira_investimentos

# Configurações do Redis (Opcional no ambiente local)
REDIS_ADDR=127.0.0.1:6379
REDIS_PASSWORD=

# Porta do Servidor HTTP em Go
SERVER_PORT=8080
